/*img
    border: 3px dashed tomato;
}*/
/*.submenu
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}*/
.center img{
    margin: auto;
    display: block;


}
.main img{
    margin: auto;
    display: block;
}

